/CAMELS/ICs/
/CAMELS/ics.npz
/CAMELS/snapshot_090.hdf5
/CAMELS/snapshot_090.npz
.idea
/profiles/
/notebooks/tests/output/
/diagnostics/
/notebooks/
/scripts/
!/scripts/
/scripts/*
!/scripts/execute_docs_notebooks.py
!/scripts/generate_docs_notebooks.py
!/scripts/validate_docs_code.py
!/scripts/validate_docs_notebooks.py
/PM++_flow_h.png
/PM++_flow_v.png
/Quijote/
/CAMELS/
__pycache__/
*.py[cod]
