.idea/
*.iml
/Results/
/Models/
/CamelsSims/LH_0_pos_64.npy
/CamelsSims/LH_0_vel_64.npy
/CamelsSims/LH_0_z_64.npy
/CamelsSims/LH_100_pos_64.npy
/CamelsSims/LH_100_pos_128.npy
/CamelsSims/LH_100_pos_256.npy
/CamelsSims/LH_100_vel_64.npy
/CamelsSims/LH_100_vel_128.npy
/CamelsSims/LH_100_vel_256.npy
/CamelsSims/LH_100_z_64.npy
/CamelsSims/LH_100_z_128.npy
/CamelsSims/LH_100_z_256.npy
/pk/
